 #section-form {
  align-items: center;
  display: flex;
  height: 700px;
  width: 500px;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(46, 45, 45);
  border-radius: 20px;
  padding: 20px;
}

label {
  align-items: center;
  color: beige;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

textarea,
input {
  width: 350px;
  border-radius: 5px;
  background-color: antiquewhite;
}

textarea {
  height: 60px;
}

input {
  border-radius: 5px;
  height: 30px;
  background-color: antiquewhite;
}

#form-select {
  width: 200px;
  height: 30px;
  background-color: antiquewhite;
}

#form-select {
  border-radius: 5px;
  margin-left: 5px;
  background-color: antiquewhite;
}

#form-check {
  width: 20px;
  margin-right: 5px;

}

#check-label,
#select-label {
  justify-content: center;
  align-items: center;
}

#check-label {
  width: 150px;
  border: solid 1px white;
  border-radius: 10px;
}

#form-button {
  color: white;
  background-color:gray;
  border-radius: 10px;
  height: 40px;
  width: 140px;
  font-size: 20px;
}

#hasTrunfo{
  color: antiquewhite;
}
